<p>Welcome! The date and time is <%= Time.now %></p>
<h1>Welcome to Kelly Inc.</h1> 
<h2>Your source to purchase your favorite TV show outfits.</h2>
<%= image_tag("sweater.jpg", class: "img-responsive my-image") %>